/*=============================== Resets the margin and padding to 0 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 100%;
}

body{
    width: 100%;
}

/*=============================== header css */

header{
    z-index: 100;
    position: fixed;
    padding: 4px 15px 2px 15px;
    background-color: white;
    top: 0;
    width: 100vw;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-origin: 1px 1px 1px rgb(226, 226, 226);
}

header svg{
    height: 16px;
}

.headerInfo{
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
    display: flex;
    width: 230px;
    height: auto;
    color: black;
}

.headerInfo svg{
    margin: 0 5px 0 5px;
}

.css-nuvmzp{
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.headerInfo a:hover{
    text-decoration: underline;
}

.headerLogo{
    width: 80%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo a svg{
    width: 195px;
    height: 26px;
}

.headerAccount{
   margin: 0 15px 0 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 202.09375px;
    height: 33px;
}

.headerAccount button{
    margin: 0 5px 0 5px;
    width: 119.25px;
    height: 32px;
    color: white;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.headerAccount button:hover{
    background-color: rgb(50, 104, 145);
    transition-duration: 0.6s;
}

.headerAccount div{
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 57.84375px;
    height: 12px;
}

.headerAccount div h4{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgb(18, 18, 18);
    font-family: nyt-franklin, helvetica, arial, sans-serif;

}

.headerAccount div svg{
    margin: 0 0 2px 6px;
    width: 9px;
    height: 5px;
}

/*=============================== CSS for the article */

.nytArticle{
    margin: 100px auto 10px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}

.nytArticle strong{
    font-size: 2.5rem;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 25px;
}

.nytArticle p{
    width: 600px;
    margin-bottom: 15px;
    font-size: 1.25rem;
    color: rgb(51, 51, 51);
    line-height: 30px;
    text-align: left;
}

.nytArticle p a{
    color: rgb(50, 104, 145);
}

.nytArticle p a:hover{
    text-decoration: none;
}

.articleImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    width: 945px;

}

.articleImg img{
    width: 100%;
    height: auto;
}


.articleImg h4{
   color: rgb(102, 102, 102);
   font-size: 0.9375rem;
   font-weight: normal;
}

.articleImg h5{
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-weight: 500;
}

.authorDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 69px;
    margin-bottom: 20px;

}

.authorDetails strong, div h5{
    font-size: 0.9375rem;
    color: rgb(51, 51, 51);
    font-style: normal;
}

.authorDetails strong a{
    text-decoration: underline;
    text-decoration-color: rgb(136, 136, 136)
}
}

.authorDetails div h5{
    font-size: 0.8125rem;
    font-weight: 500;
}

.authorDetails div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialButtons {
    display: flex;
}

.socialButtons li{
    text-decoration: none;
    list-style: none;
    margin-right: 16px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ccc;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.socialButtons li:hover{
    background-color: white;
    cursor: pointer;
}

.socialButtons li:nth-child(5){
    background-color: transparent;
    border: none;
}

.socialButtons li button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.timesAD{
    margin: 10px 0 10px 0;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    height: 50px;
    width: 400px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.timesAD a{
    color: rgb(50, 104, 145);
    cursor: pointer;
}


.editorPicks{
    position: absolute;
    right: 5%;
    width: 200px;
    height: 200px;
    text-align: left;
}

.editorPicks h4{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.editorArticle{
    width: 210px;
    height: 77px;
    color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.editorArticle:hover{
    text-decoration: underline;
}

.editorArticle img{
    height: 75px;
    width: 75px;
}

.editorArticle h5{
    width: 125px;
    margin-left:10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    font-family: nyt-cheltenham-small, georgia, "times new roman";
}

.appleAd{
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
}

.abaig{
    text-align: left;
    width: 600px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 20px;
}

.bigContainer{
    margin: 20px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inflationTitle{
    width: 80%;
    text-justify: left;
}

.inflationTitle strong{
    font-size: 20px;
}

.inflationTitle p{
    font-size: 0.875rem;
    width: 75%;
    color: rgb(102, 102, 102);
    line-height: 18px;
}

.inflationContainer{
    float: right;
    width: 85%;
    height: auto;
    border-radius: 2.5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
}

.inflationContainer img{
    z-index: -1;
    position: absolute;
    width: 80%;
    height: 100%;
}

.inflationText{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: left;
    padding-top: 200px;
}

.inflationText p{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

.inflationText strong{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

.inflationAuthor{
    padding-top: 10px;
    margin-left: 40px;
    align-self: flex-start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 30%;
    color: rgb(51, 51, 51);
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    border-top: 1px solid black;
}


.video h4{
    color: rgb(102, 102, 102);
    font-size: 0.9375rem;
    font-weight: normal;
 }
 
 .video h5{
     color: rgb(136, 136, 136);
     font-size: 12px;
     font-weight: 500;
 }


.rePrint{
    width: 600px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(102, 102, 102);
    font-weight: normal;
}

.commentSection{
    margin: 30px 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentButton{
    width: 330px;
    height: 36px;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: 0.5s;
}

.commentButton:hover{
    background-color: rgb(50, 104, 145);
}

/*=============================== CSS FOR THE ADDITIONAL CONTENT SECTION AT THE BASE OF THE PAGE */

.additionalContentContainer{
    margin: auto;
    width: 1200px;
    height: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}


.mostPopular{
    width: 315px;
    height: 100%;
    border-top: 1px solid black;
    text-align: left;
}

.mostPopular h3{
    text-align: left;
    margin: 15px 0 0 0;
}

.popularArticles{
    width: 100%;
    height: 834px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popularArt{
    border-top: 1px solid rgb(136, 136, 136);
    padding: 15px 0;
    width: 100%;
    height: auto;
    color: rgb(18, 18, 18);
    cursor: pointer;
    display: block;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
}

.popularArt:hover{
    color: rgb(136, 136, 136);
}


.additionalContent{
    width: 852px;
    height: 1500px;
}

.section{
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    padding: 17px 0;
}

.section button{
    width: 270px;
    height: 37px;
    border-radius: 3px;
    background-color: rgb(102, 102, 102);
    color: white;
    font-size: 15px;
    font-weight: bold;
    vertical-align: center;
    text-align: center;
    border: none;
}

.cardGrid{
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.suggestedCard{
    position: relative;
    padding: 15px;
    height: 295px;
    transition: 0.5s;
    border: 1px solid rgb(226, 226, 226);
}

.suggestedCard:hover{
    box-shadow: 3px 3px 6px grey;
}

.suggestedCard img{
    width: 82px;
    height: 82px;
}

.suggestedCard h5{
    font-size: 11px;
    font-weight: normal;
    color: rgb(51, 51, 51);
    letter-spacing: 0.09em;
}

.suggestedCard p{
    margin-top: 5px;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.2px;
}

.suggestedCard i{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
}

.suggestedCard a{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(50, 104, 145);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.suggestedCard a:hover{
    text-decoration: underline;
}

.articleCard{
    height: 293px;
}

.articleCard div{
    margin-bottom: 15px;
}

.articleCard img{
    width: 100%;
    height: auto;
}

.articleCard h3{
    color: rgb(18, 18, 18);
    cursor: auto;
    display: block;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.articleCard h3:hover{
    color: rgb(136, 136, 136);
}

.articleCard h5{
    color: rgb(153, 153, 153);
    display: inline;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
}

.articleCard h6{
    float: right;
    color: rgb(153, 153, 153);
    cursor: auto;
    display: block;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
}

/*=============================== CSS FOR THE Site Index at the end of the whole screen */

.siteIndexContainer{
    border-top: 1px solid rgb(153, 153, 153);
    height: 458px;
    width: 1200px;
    margin: auto;
    margin-bottom: 60px;
}

.siteIndexHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    margin-bottom: 10px;
}

.siteIndexHeader a{
    color: rgb(50, 104, 145);
    text-decoration: none;
    font-size: 10px;
}

.listContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.listLeft{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.List{
    display: flex;
    flex-direction: column;
}

.List strong{
    color: rgb(51, 51, 51);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: bold;
    margin: 8px 0;
}

.List h5{
    color: rgb(0, 0, 0);
    cursor: auto;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
    margin: 4px 0;
}

.List h5:hover{
    text-decoration: underline;
}

.listRight{
    width: 210px;
    height: 100%;
}


/*=============================== CSS FOR THE FOOTER AT THE BASE OF THE SCREEN */

footer{
    z-index: 10;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
    height: 55px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer div{
    position: absolute;
    right: 5%;
}